<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <style>@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');</style>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <header>
      <ul>
        <% [['/', 'Home'], ['/posts.html', 'Posts'], ['/sudoku/', 'Sudoku'], ['/parser/', 'Parser']].each do |link, name| %>
          <%= content_tag :li, (link_to name, link) %>
        <% end %>
      </ul>
      <h1>Drew Smith</h1>
    </header>
    <main>
      <%= content_tag :h2, current_page.data.title %>
      <%= yield %>
    </main>
    <%= partial '/layouts/footer'%>
  </body>
</html>
